/* Universal Styles */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KExcOPIDU.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0O6tLR8a8zI.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

html body {
  font-family: "PT Sans";

}

body {
  margin: 0;
}

/* Header */

header {
  background-color: #333;
  color: white;
}
/* Add hover transitions for individual nav links rgb(51, 34, 34)
(also maybe not this color, lighter color gray on hover)*/

/*====================
    Navigation
=====================*/

header nav {
  height: 100%;
}

#myTunes ul {
  display: flex;
  margin-top: 0;
}

#myTunes li {
  display: inline;
  list-style-type: none;
  padding-right: 5%;
  padding-top: 1%;
}

#myTunes a {
  color: white;
  text-decoration: none;

}

/*==================*/
/*==================*/

/* Main */

/*====================
    Main Styles
=====================*/

main {

}

main .main-panels {

}

main .bottom-panels {

}

/*==================*/
/*==================*/

/* Main Sections */

/*====================
      Overview
=====================*/

#overview {
  background-image: url(../images/showcase.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
}

#overview h1 {
  margin-top: 0;
}

#overview h3 {

}

#overview p {
  margin-bottom: 0;
}

/*====================
        Music
=====================*/

#music {
  background-color: hsla(203, 6%, 15%, 1);
  color: white;
}

#music h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#music h3 {

}

#music p {

}

#music .small {

}

#music button {
  background-color: blue;
  border: 0px solid blue;
  color: white;
}

#music img {

}

/*====================
        Video
=====================*/

#video {

}

#video h3 {
  margin-top: 0;
}

#video p {

}

#video button {
  background-color: red;
  border: 0px solid red;
  color: white;
}

#video img {

}

/*====================
    Entertainment
=====================*/

.entertainment {
  background-image: url(../images/section-bg.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
}

.entertainment h3 {
  margin-top: 0;
}

.entertainment p {
  margin-bottom: 0;
}

/*====================
      Gift Cards
=====================*/

#gift-cards {

}

#gift-cards h3 {
  margin-top: 0;
}

#gift-cards p {

}

#gift-cards .redeem {
  margin-bottom: 0;
}

#gift-cards i {

}

#gift-cards hr {

}

#gift-cards img {

}

/*==================*/
/*==================*/

/* Bottom Panels */

/*====================
    Bottom Panels
=====================*/

.bottom-panels {
  background-color: hsla(203, 6%, 15%, 1);
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 20%;
}

.panel {
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.panel hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border: 0.5px solid ghostwhite;
  /* Research changing horizontal rule thickness */
}

.bottom-panels h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.bottom-panels ul {
  font-weight: 400;
}

.bottom-panels li {
  list-style-type: none;
}

.bottom-panels a {
  color: white;
  text-decoration: none;
}

/*====================
        Shop
=====================*/

.shop {

}

.shop h3 {

}

.shop ul {

}

.shop li {

}

.shop a {

}

.shop hr {

}

/*====================
        Orange
=====================*/

.orange {

}

.orange h3 {

}

.orange ul {

}

.orange li {

}

.orange a {

}

.orange hr {

}

/*====================
      Education
=====================*/

.education {

}

.education h3 {

}

.education ul {

}

.education li {

}

.education a {

}

.education hr {

}

/*====================
        About
=====================*/

.about {

}

.about h3 {

}

.about ul {
  margin-bottom: 0;
}

.about li {

}

.about a {

}

.about hr {

}

/*==================*/
/*==================*/

/* Footer */

footer {
  background-color: #333;
  color: white;
}

/*====================
    Footer Content
=====================*/

.footer-content {

}

.footer-content p {
  margin-top: 0;
}

.footer-content span {

}
